.city-info {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.city-info-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 150%;
    padding: 1%;
}

.city-info-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
}

.city-info-error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 40%;
    margin-left: 5%;
    margin-right: 5%;
    height: 400px;
}
